# Python
__pycache__/
*.py[cod]
*.sqlite3
.env
.venv/
db.sqlite3

# Node
node_modules/
.next/
out/

# Logs
*.log

# macOS
.DS_Store

# VSCode
.vscode/

# IDE configs
.idea/
*.iml

# Coverage
coverage/
*.cover

# Environment
.env.local
.env.development.local
.env.test.local
.env.production.local

# npm debug log
npm-debug.log*

# yarn
.yarn/cache
.yarn/unplugged
.pnp.*
